<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>AWS DynamoDB</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../aws-dynamodb.html">

  </head>
  <body>

    <p>An example of <code>&lt;aws-dynamodb&gt;</code></p>

    <aws-dynamodb></aws-dynamodb>

    <!-- footer -->
    <div id="footer">
      <p>&copy; 2015 AWS DynamoDB Created by <a href="http://shiftvision.nl">Joachim den Hertog</a>. Open source Polymer 1.0 element, grab it <a href="https://github.com/gjdenhertog/aws-dynamodb" target="_blank">Github</a>.</p>
    </div>
  </body>
</html>